.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #42f6bd;
    border-bottom: 1px solid lightgray;
   
}
.header li{
    list-style-type: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(46, 45, 45);
    text-decoration: none;
}

.active{
    color: #f60606 !important;
}
.nav-item a {
    text-decoration: none;
    color: rgb(148, 146, 146);
 
}

